.classeb {
    border: 2px solid blue;
    height: 600px;
    margin-top: 50px;
}

.classeb div {
    border: 2px solid dodgerblue;
}

.celleasy {
    height: calc(100% /10);
    width: calc(100% /10);
    display: inline-flex;
}

.cellnormal {
    height: calc(100% /9);
    width: calc(100% /9);
    display: inline-flex;
}

.cellhard {
    height: calc(100% /5);
    width: calc(50% /5);
    display: inline-flex;
}

.bg-lightblue {
    background-color: blue;
}